body {
  margin: 0px;
}

.controls {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  width: 200px;
}

.controls * {
  display: inline;
  margin: 5px 0px;
  width: 100%;
}

.controls input {
  padding: 6px;
  font-size: inherit;
}

.controls button {
  cursor: pointer;
  padding: 8px;
}